{% extends "base.html" %}


{% block content %}

	<h1>Notes App</h1>


	<a href = "/logout"><button>Logout</button></a>	

	{% if not rows %}
	
		<p>Nothing to see here. Scram!</p>


	{% else %}

		{% for row in rows %}
			
			<div class = "note">

				<div class = "text">
					{{ row[1] }}
				</div>

				<div class = "buttons">
					<a href = "/edit/{{ row[0] }}"><button>Edit</button></a>
					<a href = "/delete/{{ row[0] }}"><button>Delete</button></a>
				</div>	

			</div>
			

		{% endfor %}
	
	{% endif %}


	


	<form method = "POST" action = "/add-note">
		<div>
			<input type = "text" name = "note" placeholder = "Enter a note" required>
			<button type = "submit">Add Note</button>
		</div>
	</form>


{% endblock %}
